nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;

    width: 100%;
    padding: 0 70px;
    min-height: $nav-height;
    background-color: black;

    display: flex;
    align-items: center;

    color: white;

    @include media("<=phablet") {
        padding: 0 5%;
        transition: all 0.2s ease-in-out;
    }

    ul {
        display: flex;

        @include media("<=phablet") {
            display: none;
        }

        &.active {
            display: block;
        }
    }
    
    li {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }

        @include media("<=phablet") {
            margin: 20px 0;
        }
    }

    a {
        font-size: 1rem;
        text-decoration: none;

        &:hover {
            opacity: 0.4;
        }

        &.active {
            text-decoration: underline;
        }

        @include media("<=phablet") {
            font-size: 1.25rem;
        }

        transition: all 0.15s ease-in-out;
    }

    .hamburger {
        display: none;

        align-self: baseline;
        margin: 10.5px 0;

        @include media("<=phablet") {
            display: flex;
            align-items: center;

            & span {
                display: block;
                width: 35px;
                height: 3px;
                margin: 5px 0;
                background-color: white;
            }

            & p {
                margin-left: 10px;
                color: white;
                font-size: $p-size;
            }
        }
    }

    &.active {
        height: 100%;
    }

}