* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a {
	color: inherit;
}

button {
	border: none;
	background-color: transparent;
}