#ctd .grid {
    @extend .contents;

    p {
        margin-bottom: 40px;
    }

    h2 {
        margin-bottom: 20px;
    }
}

#intro .contents-ctd {
    width: 100%;
    max-width: 1920px;

    @include flexCenter;

    z-index: 1;

    .logo {
        width: 15%;
        margin: 0;
    }
}

.txt-img {
    grid-template-areas: 
        "txt txt txt txt txt ... img img img img img img"
    ;
}

.img-txt {
    grid-template-areas: 
        "img img img img img img ... txt txt txt txt txt"
    ;
}

@include media("<=tablet") {

    .txt-img, .img-txt {

        grid-template-columns: 1fr!important;

        grid-template-areas: 
            "txt"
            "img"
        ;

    }

}

.imagem {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#produto .imagem {
    align-items: flex-end;

    .sticky-container {
        position: relative;
        height: 100%;
    }
}

.tpk-card {
    width: 295px;
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;

    align-self: center;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 0.938rem;
    line-height: 1.2;

    margin: 40px auto;

    transition: box-shadow 0.2s ease-in-out;


    img {
        width: 100%;
        border-radius: 5px;
    }

    .thumb {
        position: relative;

        .promo {
            position: absolute;
            top: 0;
            right: 10px;

            width: 19%;
        }
    }

    h5 {
        font-size: 0.938rem;
        font-weight: 700;
        margin-top: 10px;
    }

    .swatches {
        @include flexCenter;
        position: relative;

        margin-top: 30px;

        .swatch {
            width: 37px;

            &:nth-child(3) {
                margin-left: 8px;
            }
        }

        .sel-var {
            @include flexCenter;

            position: absolute;
            top: 0;
            left: 0;

            width: 37px;
            height: 37px;
            border-radius: 5px;

            background-color: rgba(0,0,0,0.7);

            img {
                width: 70%;
            }
        }

    }

    .preco-promo {
        font-size: 1.563rem;
        font-weight: 400;
        text-decoration: line-through;
        color: #696969;
        opacity: .5;

        margin-top: 20px;
    }

    .preco {
        font-size: 1.563rem;
        font-weight: 800;
        color: #42C22D;

        &.unico {
            margin-top: 49px;
        }
    }

    span {
        margin-top: 20px;
        color: #696969;                    
    }



    &:hover {
        cursor: pointer;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    }

}