@import "projetos";

#intro {

    padding-top: 185px;
    padding-bottom: 185px;

    @include media("<bigTablet") {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .contents {

        grid-template-areas: 
            "... log log ... txt txt txt txt txt txt txt ..."
        ;

        @include media("<bigTablet") {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "log"
                "txt"
            ;
        }

        .logo {
            width: 90%;
    
            @include media("<bigTablet") {
                width: 30%;
                margin-bottom: 70px;
            }
        }

        .texto {
            z-index: 1;

            a {
                display: block;
                
                @include media("<bigTablet") {
                    text-align: center;
                }
            }

            h4 {
                margin: 40px 0 5px 0;
            }
        }

    }

    .overlay {
        background-color: #380000;
        opacity: .9;
    }

}

#problema {

    .contents {
        display: block;
    }

    & p, & h1, & h4 {
        text-align: center;
    }

    & .block1 {
        grid-template-areas: 
            "hh1 hh1 hh1 hh1 hh1 hh1 hh1 hh1 hh1 hh1 hh1 hh1"
            "... ... pp1 pp1 pp1 pp1 pp1 pp1 pp1 pp1 ... ..."
        ;

        @include media("<bigTablet") {
            display: block;
        }
    }

    & .floating-image {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    & .block2 {
        grid-template-areas: 
            "... ii1 ii1 ii1 ii1 ... ... ii2 ii2 ii2 ii2 ..."
            "... ii3 ii3 ii3 ii3 ... ... ii4 ii4 ii4 ii4 ..."
            "... ... pp2 pp2 pp2 pp2 pp2 pp2 pp2 pp2 ... ..."
        ;

        @include media("<bigTablet") {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                "ii1 ii2"
                "ii3 ii4"
                "pp2 pp2"
            ;
        }

        @include media("<tablet") {
            display: block;
        }


        & .lista {
            margin-bottom: 50px;
        }

        & .p2 {
            margin-top: 50px;
        }

    }    

}

#desafios {

    background-color: #ed3333;

    .contents {
        grid-template-areas: 
            "img img img img img ... txt txt txt txt txt ..."
        ;
        color: white;

        @include media("<bigTablet") {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "txt"
                "img"
            ;
        }
    }    

    img {
        grid-area: img;
        width: calc(100% + #{$padding-def});
        margin-left: -$padding-def;

        @include media("<bigTablet") {
            width: 100%;
            margin: 0;
            margin-top: 70px;
        }
    }

}

#divertida {

    .contents {
        grid-template-areas: 
            "lft lft lft lft ... rgt rgt rgt rgt rgt rgt rgt"
        ;

        @include media("<bigTablet") {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "rgt"
                "lft"
            ;
        }
    }

    .left-col {
        display: flex;
        justify-content: flex-end;

        z-index: 3;

        background-color: white;

        width: calc(100% + #{$padding-def});
        margin-left: -$padding-def;

        @include media("<bigTablet") {
            width: 100%;
            margin: 0;
            justify-content: center;
            margin-top: 140px;
        }

        @include media("<tablet") {
            img {
                width: 100%;
            }
        }
    }

    .right-col {

        h1 {

            position: relative;
            z-index: 2;

            span {
                color: white;
            }

            &:after {

                content: '';
                display: block;
    
                position: absolute;
                z-index: -1;
                right: 0;
                bottom: 0;
                
                width: 100vw;
                max-width: 1350px;
                height: 110px;            
                background-color: #ed3333;
                
                @include media(">=bigDesktop") {
                    right: 450px;
                }

                @include media("<bigTablet") {
                    width: 100%;
                    height: 87px;
                }

                @include media("<tablet") {
                    height: 50px;
                }
                
            }

        }

        p {
            margin-right: 15%;

            @include media("<bigTablet") {
                margin: 0;
            }
        }

        h4 {
            margin-top: 40px;

            a {
                font-family: inherit;
                font-weight: inherit;
                color: #ed3333;
            }
        }

    }
}

#screenshots {

    margin: 140px 0;

    @include media("<bigTablet") {
        margin-top: 0;

        .i2 {
            margin: 20px 0;
        }
    }

    @include media("<tablet") {
        margin: 0;
    }

    .contents {
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "ii1 ii2 ii3"
        ;

        @include media("<bigTablet") {
            display: block;
        }
    }

    img {
        width: 100%;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);

        &:nth-child(2) {
            margin-top: 20px;
        }
    }

}

#melhorar {

    background-color: black;

    .contents {
        display: block;
    }

    h1 {
        color: white;
        text-align: center;
        margin-bottom: 150px;
    }

    .grid {

        position: relative;

        background-color: transparent;
        color: white;

        margin-top: 70px;

        @include media("<bigTablet") {
            display: block;
        }

        h2 {
            margin-bottom: 10px;
        }

        .imagem {
            width: 100%;

            @include media("<bigTablet") {
                display: flex;
                justify-content: center;
            }
        }

        img {
            width: 100%;
            margin-top: -100px;

            @include media(">=bigDesktop") {
                margin-top: -200px;
            }

            @include media("<=bigTablet") {
                margin-top: 0;
            }

            @include media("<bigTablet") {
                width: 70%;
            }
        }

        &:nth-child(even) {

            grid-template-areas: 
                "... txt txt txt txt txt img img img img img ..."
            ;
    
        }

        &:nth-child(odd) {

            grid-template-areas: 
                "... img img img img img txt txt txt txt txt ..."
            ;
    
        }

    }    

}

@import "tpk-ctd";